<head>
    <meta charset="utf-8">
    <title>Login / Register Task</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/alertify.core.css">
    <!-- User Defined Styles -->
    <link rel="stylesheet" type="text/css" href="css/animate-custom.css" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="wrapper" role="main">
        <div id="placeholder-header" ></div>
        <div class="container">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
            <div class="row" id="wrapper">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 animate" id="placeholder-login">
                  <form name="form_login" method="post" action="login.php" role="form">
                    <fieldset>
                      <h2>Log In</h2>
                      <div class="form-group">
                        <label for="user_id">Email Address</label>
                        <input name="user_id" type="text" id="user_id" class="form-control input-lg" placeholder="Email Address">
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
                      </div>

                      <input type="checkbox" name="remember_me" id="remember_me" checked="checked">
                      <span class="button-checkbox">Remember Me</span>

                      <div class="row submit-box">
                          <input type="submit" name="Submit" value="Login" class="btn btn-lg btn-success btn-block">
                      </div>
                    </fieldset>
                  </form>
                  <p class="change_link">Not a member yet ?
                        <a href="#toregister" class="to_register btn btn-link" role="button">Join us</a>
                        </p>
                </div>
                <div id="placeholder-register" class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 animate">
                <form name="form_register" method="post" action="register.php" role="form">
                <fieldset>
                <h2>Register New User</h2>
                <div class="form-group">
                    <label for="username">User name</label>
                    <input name="username" required="required" id="user_id" type="text" placeholder="User name" class="form-control input-lg">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" required="required" id="password" type="password" placeholder="Password" class="form-control input-lg">
                </div>
                <div class="form-group" >
                    <label for="password">Password again</label>
                     <input name="password" required="required" id="password" type="password" placeholder="Password again" class="form-control input-lg">
                </div>
                <div class="row submit-box">
                    <input type="submit" value="Register" class="btn btn-lg btn-success btn-block">
                </div>
                    </fieldset>
                    <p class="change_link">  Already a member ?
                    <a href="#tologin" class="to_register btn btn-link" role="button"> Go and log in </a>
                    </p>
                </form>
                </div>
            </div>
        </div>
    </div><!-- /.wrapper -->

    <!-- Application Core Scripts -->
    <!-- <script src="app/js/vendor/LAB.min.js"></script> -->
    <script src="app/js/vendor/alertify.min.js"></script>
    <script src="app/js/vendor/sdb_manager.js"></script>
    <!-- end scripts -->

    <!-- User Scripts -->
    <script src="app/js/main.js"></script>
    <!-- end scripts -->
</body>
</html>