<head>
    <meta charset="utf-8">
    <title>Login / Register Task</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="css/alertify.core.css">
    <!-- User Defined Styles -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/animate-custom.css" />
</head>
<body>
    <div class="wrapper" role="main"> 
        <div id="placeholder-header" ></div>
        <div class="container">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
            <div class="row" id="wrapper">    
                <div id="placeholder-login" class="animate">
                    <h1>Log in</h1>
                <form>
                    <input name="username" required="required" type="text" placeholder="User name">
                    <input name="password" required="required" type="password" placeholder="Password">
                    <input type="submit" value="Login">
                    <p class="change_link">Not a member yet ?
                    <a href="#toregister" class="to_register">Join us</a>
                 </p>   
                </form>
                </div>
                <div id="placeholder-register" class="animate">
                <h1>Register New User</h1>
                <form>
                    <input name="username" required="required" type="text" placeholder="User name">
                    <input ame="password" required="required" type="password" placeholder="Password">
                    <input ame="password" required="required" type="password" placeholder="Password again">
                    <input type="submit" value="Register">
                    <p class="change_link">  Already a member ?
                    <a href="#tologin" class="to_register"> Go and log in </a>
                 </p>
                </form>                  
                </div>
            </div>
        </div>
    </div><!-- /.wrapper -->

    <!-- Application Core Scripts -->
    <!-- <script src="app/js/vendor/LAB.min.js"></script> -->
    <script src="app/js/vendor/alertify.min.js"></script>
    <script src="app/js/vendor/sdb_manager.js"></script>
    <!-- end scripts -->

    <!-- User Scripts -->
    <script src="app/js/main.js"></script>
    <!-- end scripts -->
</body>
</html>