.container{
     text-align: left;
     margin: 0;
     padding: 0;
     margin: 0 auto;
     font-family: "Myriad Pro",Arial,sans-serif;
}

 #wrapper{
    width: 25%;
    margin: 0px auto;
    position: relative;
    float: left;
}
 #wrapper input {
    width: 80%;

    font-size: 1vw;
    margin: 5% 10% 5% 10%;
    padding: 5%;
    background-color: #f3f3f3;
    color: #4b5f6a;
    display: inline-block;
    border: none;
    box-shadow:
        0pt 2px 5px rgba(105, 108, 109,  0.7),
        0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;

    border-radius: 5px;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;

}
#wrapper input[type='text'] {
    padding-left:25%;
    background: url(../images/profile.png) no-repeat;
    background-color: #f3f3f3;
    background-size: 25%;
   }
#wrapper input[type='password'] {
    padding-left:25%;
    background: url(../images/login.png) no-repeat;
    background-color: #f3f3f3;
    background-size: 25%;
   }
#wrapper h1 {
    background-color: #4b5f6a;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    font-family: 'Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    font-size: 1.5vw;

}
#wrapper input[type='submit'] {
    background-color: #4b5f6a;
    color: white;
}
#wrapper input[type='submit']:hover{
    background: #5E7786;
    position: relative;
    top: 1px;
    border: 1px solid rgb(12, 76, 87);
    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
       -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
            box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}

#wrapper p.change_link {
    color: #4b5f6a;
    padding: 5%;
    font-size: 1.3vw;
    text-align: right;
    background: #f3f3f3;
}
 #wrapper p.change_link a {
    font-weight: bold;
    font-size: 1vw;
    background: #F7F8F1;
    padding: 2% 5%;
    color: #4b5f6a;
    margin-left: 2%;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #4b5f6a;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s  linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s  linear;
    transition: all 0.4s  linear;
}
#wrapper p.change_link a:hover {
    color: #81A8B8;
    background: #f3f3f3;
    border: 1px solid #81A8B8;
}
#wrapper p.change_link a:active{
    position: relative;
    top: 1px;
}

#placeholder-register,
#placeholder-login{
    position: absolute;
    top: 0px;
    background-color: #d2dadd;
}

#placeholder-register {
    z-index: 21;
    opacity: 0;
}
#placeholder-login {
    z-index: 22;
}
#toregister:target ~ #wrapper #placeholder-register,
#tologin:target ~  #wrapper #placeholder-login {
    z-index: 22;
   -webkit-animation-delay: .6s;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-delay: .6s;
    -moz-animation-timing-function: ease-in;
    -o-animation-delay: .6s;
    -o-animation-timing-function: ease-in;
    -ms-animation-delay: .6s;
    -ms-animation-timing-function: ease-in;
    animation-delay: .6s;
    animation-timing-function: ease-in;
    -webkit-animation-name: scaleIn;
    -moz-animation-name: scaleIn;
    -ms-animation-name: scaleIn;
    -o-animation-name: scaleIn;
    animation-name: scaleIn;
}
#toregister:target ~ #wrapper #placeholder-login,
#tologin:target ~ #wrapper #placeholder-register{
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-name: scaleOut;
    -moz-animation-name: scaleOut;
    -ms-animation-name: scaleOut;
    -o-animation-name: scaleOut;
    animation-name: scaleOut;
}

.animate{
   -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;

    -moz-animation-duration: 0.5s;
    -moz-animation-fill-mode: both;

    -o-animation-duration: 0.5s;
    -o-animation-fill-mode: both;

    -ms-animation-duration: 0.5s;
    -ms-animation-fill-mode: both;

    animation-duration: 0.5s;
    animation-fill-mode: both;
}

